@page
@model MealPlanner.Pages.Meals.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Meal[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meal[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meal[0].Instructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meal[0].Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meal[0].NutritionInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Meal) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NutritionInfo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MealID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MealID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MealID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
